*.log
.DS_Store
.env
.env.backup
.env.local
.env.production
.env.*.local
.phpactor.json
.phpunit.result.cache
/.codex
/.cursor/
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/bootstrap/cache/*.php
/node_modules
/public/build
/public/fonts-manifest.dev.json
/public/hot
/public/storage
/storage/*.key
/storage/logs/*.log
/storage/pail
/vendor
_ide_helper.php
_ide_helper_models.php
database/*.sqlite
database/*.sqlite-journal
Homestead.json
Homestead.yaml
npm-debug.log*
Thumbs.db
yarn-debug.log*
yarn-error.log*
/.graphify-out
